<app-hero></app-hero>
<app-body></app-body>
<footer class="bg-gray-100 text-center py-6 mt-16 text-sm text-gray-500 border-t border-gray-300">
    © {{ currentYear }} Casa Manresa. Todos los derechos reservados. —
    Diseñado y desarrollado por
    <a href="https://luiscolon0426.github.io/portfolio/" target="_blank" class="text-gray-600 hover:underline">Luis
        Colón</a>
    y
    <a href="https://github.com/gabriel337" target="_blank" class="text-gray-600 hover:underline">Gabriel López</a>.
</footer>